@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	align-items: center;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	min-height: 100%;
}

header {
	background-attachment: fixed;
	background-image: url(../img/capa-madmax2.jpg);
	background-size: cover;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	padding: 20px 200px;
	width: 100%;
}

header::after {
	background: linear-gradient(0deg ,#00000099 0%, #00d4ff00 75%);
	content: "";
	height: 90%;
	left: 0;
	position: absolute;
	top: 0;
    width: 100%;
}

header .header-nav {
	align-items: center;
	display: flex;
	font-size: 13px;
	font-weight: bold;
	justify-content: space-between;
	z-index: 1;
}

header .header-nav .logo {
	cursor: pointer;
}

header .header-nav ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 50%;
}

header .header-nav ul li {
	cursor: pointer;
	list-style: none;
	text-transform: uppercase;
}

header .header-nav ul li:hover {
	color: #e4bb23;
}

header .header-nav .user {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 15%;
}

header .header-nav .user img {
	border-radius: 100%;
	height: 45px;
	width: 45px;
}

header .header-content {
	display: flex;
	flex-direction: column;
	height: 70%;
	justify-content: space-between;
	z-index: 1;
}

header .header-content h2 {
	font-size: 65px;
	margin: 0;
	text-transform: uppercase;
}

header .header-content .content-info {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	height: 55%;
}

header .header-content .content-info ul {
	align-items: center;
	display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 21.5%;
}

header .header-content .content-info ul li {
	cursor: pointer;
	list-style: none;
	text-transform: uppercase;
}

header .header-content .content-info ul li:hover {
	color: #e4bb23;
}

header .header-content button {
	align-items: center;
	background-color: #e4bb23;
    border-radius: 40px;
	border-style: none;
	color: #000000;
	display: flex;
	font-size: 15px;
	justify-content: space-around;
	margin: 25px 0;
    padding: 12px 30px;
    width: 220px;
}

header .header-content button:hover {
	background-color: #bc9a1d;
}

header .header-content button i {
	font-size: 25px;
}

header .header-content p {
	font-size: 14px;
}

header .header-content p:last-child {
	color: #e4bb23;
	margin: 0;
}

.nav {
	align-items: center;
	border-bottom: 1px solid #DFDFDF;
	display: flex;
	justify-content: center;
	height: 10vh;
	width: 70%;
}

.nav ul {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
    width: 55%;
}

.nav ul li {
	font-weight: bold;
	font-size: 13px;
	list-style: none;
	padding: 24px 0;
	text-transform: uppercase;
}

.nav ul li:hover {
	border-bottom: 1px solid #e4bb23;
}

.nav ul li a {
	color: #e4bb23;
	text-decoration: none;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 35px 0;
	width: 71%;
}

section .card {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0 #0000004d;
	display: flex;
	flex-direction: column;
	height: 440px;
	margin-bottom: 30px;
	width: 230px;
}

section .name-film {
	align-items: center;
	background-color: #00000099;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
	height: 341px;
	justify-content: center;
	opacity: 0;
	position: absolute;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 230px;
	z-index: 1;
}

section .card:hover .name-film {
	opacity: 1;
	visibility: visible;
}

section .name-film h2 {
	color: #e4bb23;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

section .name-film i {
	color: #ffffff;
	cursor: pointer;
	font-size: 50px;
}

section .name-film i:hover {
	color: #e4bb23;
}

section .card img {
	border-radius: 10px 10px 0 0;
	height: 341px;
}

section .card .info-card {
	border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
	height: 100%;
    justify-content: space-between;
    padding: 10px;
}

section .card .info-card p {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

section .card .info-card ul {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}

section .card .info-card ul li {
	color: #e4bb23;
	cursor: pointer;
	font-size: 12px;
	list-style: none;
}

section .card .info-card ul li:hover {
	border-bottom: 1px solid #e4bb23;
}

section .card .info-card .action-card {
	display: flex;
	font-size: 20px;
	font-weight: bold;
    justify-content: space-between;
}

section .card .info-card .action-card i {
	color: #cccccc;
	cursor: pointer;
}

section .card .info-card .action-card i:hover {
	color: #e74c3c;
}

footer {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	height: 15vh;
	padding: 0 200px;
	width: 100%;
}

footer .footer-social {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: 30%;
}

footer .footer-social i {
	color: #cccccc;
	cursor: pointer;
	font-size: 25px;
	margin-left: 35px;
}

footer .footer-social .fa-twitter:hover {
	color: #1DA1F2;
}

footer .footer-social .fa-facebook-square:hover {
	color: #2A5297;
}

footer .footer-social .fa-instagram:hover {
	color: #e74c3c;
}